* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.container {
	padding: 0 6%;
}

.top-banner {
	margin-top: 90px;
    margin-bottom: 20px;
}
.csu-banner {
	width: 100%;
}

.border {
	border-top: 8px solid #2d3f8e;
    padding-top: 10px;
    padding-bottom: 10px;
}

.breadcrumb {
    background-color: #E9ECEF;
	padding: .75rem 1rem;
	border-radius: .25rem;
	color: #6c757d;
	margin-bottom: 16px;
}
.breadcrumb a {
	text-decoration: none;
}
.breadcrumb a:hover {
	text-decoration: underline;
	text-decoration-thickness: .05rem;
}

.main-content {
	display: flex;
}
.cte-page {
	width: 75%;
	padding: 0 15px;
}
.cte-page .heading {
	font-size: 200%;
    font-weight: bold;
    text-transform: uppercase;
    color: #2d3f8e;
    margin-bottom: 15px;
}

hr {
	margin: 1rem 0;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.cte-page .cte-logo {
	width: 160px;
	margin: 0 auto 20px auto;
	display: block;
}

.dean-name, .dean-title {
	font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.dean-title {
	font-weight: 100;
	margin-top: 10px;
}
.cte-page-h2 {
	font-size: 20px;
    color: #2d3f8e;
    margin-bottom: 15px;
}
.table-row, .table-row-official {
	padding: 0.75rem .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
	font-size: 13px;
	letter-spacing: 0.05em;
    color: #555555;
	display: grid;
	grid-template-columns: 3fr 1fr;
}
.table-row-official {
	grid-template-columns: 1fr 1fr;
}

.colleges {
	width: 25%;
	padding: 0 15px;
}

.colleges .heading {
	font-weight: 100;
	color: #2d3f8e;
    margin-bottom: 15px;
}
.colleges .college-card {
	border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-left: 5px solid #eee;
    margin-bottom: 10px;
    padding: 6px;
}
.colleges .college-card a {
	text-decoration: none;
	color: #535353;
	font-weight: bold;
	padding: 6px;
	line-height: 25px;
	text-align: left;
	display: flex;
	justify-content: left;
}
.colleges .college-card a:hover {
	text-decoration: none;
	color: #0056b3;
}

footer {
	background-color: #343a40!important;
	padding: 3rem 5rem;
}

footer .row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 50px;
}


.footer-heading {
	font-size: 150%;
    color: #ffdf00;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
	margin-top: 10px;
}

.footer-text {
	padding: 5px;
}
.footer-text a {
	color: #dedede;
	font-size: 16px;
	text-decoration: none;
}
.footer-text a:hover {
	color: #ffdf00;
}

.copyright {
	margin-top: 50px;
	text-align: center;
}

